@media screen and (max-width: 380px) {
    .animation-parts {
        animation: moveLineSmallDisplay 5s 1!important;
        animation-fill-mode: forwards!important;
    }
}

@keyframes moveLineSmallDisplay {
    0% {
        left:10px;
    }
    100% {
        left:290px;
    }
}

@keyframes moveLine {
    0% {
        left:10px;
    }
    100% {
        left:320px;
    }
}

.graph-page {
    padding: 20px 0 44px 0;
    background: url('../assets/images/graph-page.png') #161616 no-repeat;
    background-size: cover;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    height: 100%;
}

.graph-page .title {
    font-family: Inter, sans-serif;
    font-style: normal;
    font-weight: 700;
    font-size: 16px;
    line-height: 155%;
    text-align: center;
    text-transform: none;
    color: #FFFFFF;
    margin-bottom: 0;
}

.graph-page .subtitle {
    text-align: center;
}

.graph-page .download-prompt {
    font-family: Inter, sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 155%;
    text-align: center;
    letter-spacing: 0.01em;
    color: #FFFFFF;
    margin-bottom: 10px;
    margin-top: 70px;
}

.graph-page .main-text {
    margin-top: 130px;
}

.graph-page .income-wrapper {
    padding-left: 28px;
}

.graph-page .profit-wrapper {
    font-family: 'Inter', sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 12px;
    line-height: 155%;
    margin-bottom: 10px;
    color: #FFFFFF;
    background: #10AB53;
    box-shadow: 0px 4px 8px rgba(56, 239, 125, 0.1);
    border-radius: 40px;
    padding: 4px 8px;
}

.graph-page .income {
    font-family: 'Dela Gothic One',sans-serif;
    font-style: normal;
    font-weight: 400;
    letter-spacing: 8px;
    font-size: 30px;
    line-height: 43px;
    text-align: left;
    color: #FFFFFF;
}

.graph-page .header {
    margin-bottom: 100px;
}

.animation-parts {
    animation: moveLine 5s 1;
    animation-fill-mode: forwards;
    display: flex;
    flex-direction: column;
    align-items: center;
    position: absolute;
    bottom:0;
    left: 10px;
}

.graph-page .square {
    width: 40px;
    height: 40px;
    border-radius: 8px;
}


.line-wrapper {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: end;
    margin-top: 12px;
    width: 16px;
    background: linear-gradient(180deg, rgba(255, 255, 255, 0.072) 0%, rgba(255, 255, 255, 0) 100%);
}

.dot {
    font-size: 30px;
    color: #FFFFFF;
    position: absolute;
    top:72px;
}

.line {
    height: 240px;
    border-left: 1px dashed #FFFFFF;
}

.items-wrapper {
    display: flex;
    justify-content: space-between;
    padding: 0 28px;
    font-family: Inter, sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 155%;
    color: #FFFFFF;
}


.graph {
    margin-top: 100px;
    width: 100%;
    height: 300px;
    background: url("../assets/images/graph.png")  no-repeat;
    background-size: cover;
    position: relative;
}

.month-list {
    list-style-type: none;
    display: flex;
    padding: 0 28px;
    justify-content: space-between;
    font-family: Inter, sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 12px;
    line-height: 155%;
    color: #FFFFFF;
}
