
.completed-page {
    padding: 20px 0 44px 0;
    height: calc(100vh - 64px);
    background: url('assets/images/completed-page.png') #161616 no-repeat;
    background-size: cover;
}

.completed-page .title {
    font-family: Inter, sans-serif;
    font-style: normal;
    font-weight: 700;
    font-size: 16px;
    line-height: 155%;
    text-align: center;
    text-transform: none;
    color: #FFFFFF;
    margin-bottom: 0;
}

.completed-page .subtitle {
    text-align: center;
}

.completed-page .download-prompt {
    font-family: Inter, sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 155%;
    text-align: center;
    letter-spacing: 0.01em;
    color: #FFFFFF;
    margin-bottom: 10px;
    margin-top: 340px;
}

.completed-page .main-text {
    margin-top: 130px;
}

.completed-page .main-text, .completed-page .income {
    font-family: 'Dela Gothic One';
    font-style: normal;
    font-weight: 400;
    font-size: 30px;
    line-height: 43px;
    text-align: center;
    color: #FFFFFF;
}

.completed-page .header {
    margin-bottom: 100px;
}
