@font-face {
    font-family: Inter;
    src: url('assets/fonts/Inter-Regular.eot');
    src: url("assets/fonts/Inter-Regular.woff") format("woff"),
    url("assets/fonts/Inter-Regular.woff2") format("woff2"),
    url("assets/fonts/Inter-Regular.ttf") format("truetype");
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}
@font-face {
    font-family: 'Dela Gothic One';
    src: url('assets/fonts/DelaGothicOne-Regular.eot');
    src: local('Dela Gothic One Regular'), local('DelaGothicOne-Regular'),
    url('assets/fonts/DelaGothicOne-Regular.eot?#iefix') format('embedded-opentype'),
    url('assets/fonts/DelaGothicOne-Regular.woff2') format('woff2'),
    url('assets/fonts/DelaGothicOne-Regular.woff') format('woff'),
    url('assets/fonts/DelaGothicOne-Regular.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

body {
    height: calc(100vh - 64px);
}

.root {
    height: 100%;
}

.main-page {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding: 20px 0 44px 0;
    height: 100%;
    background: url('assets/images/initialPageBg.png') #161616 no-repeat;
    background-size: cover;
}

.header {
    display: flex;
    justify-content: space-between;
    margin-bottom: 64px;
    padding: 0 28px;
}

.language {
    font-family: Inter, sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 155%;
    color: #FFFFFF;
}

.language:first-of-type {
    margin-right: 16px;
}

.language-inactive {
    opacity: 0.3;
}

.title {
    font-family: 'Dela Gothic One';
    font-style: normal;
    font-weight: 400;
    font-size: 30px;
    line-height: 43px;
    text-transform: uppercase;
    color: #FFFFFF;
    margin-bottom: 20px;
    padding: 0 28px;
}

.subtitle {
    font-family: Inter, sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 155%;
    color: #FFFFFF;
    margin-bottom: 40px;
    padding: 0 28px;
}

.square-row {
    display: flex;
    overflow-x: clip;
}

.row-item {
    width: 120px;
    display: flex;
    flex-direction: column;
    align-items: center;
    transform: rotate(-30deg);
    transform-origin: center;
    margin-right: 54px;
}

.square {
    height: 115px;
    width: 115px;
    border-radius: 25px;
    background: #FFFFFF;
    display: flex;
    justify-content: center;
    align-items: center;
}

.square-price {
    background: #10AB53;
    width: 100px;
    text-align: center;
    border-radius: 50px;
    padding: 5px 10px;
    font-family: Inter, sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 155%;
    color: #FFFFFF;
    box-sizing: border-box;
    margin-top: 14px;
}

.button-wrapper {
    padding: 0 18px;
}

.next-button {
    background: #6F4BFD;
    padding: 18px 0;
    border-radius: 60px;
    outline: none;
    width: 100%;
    font-family: Inter, sans-serif;
    font-style: normal;
    font-weight: 700;
    font-size: 18px;
    line-height: 145.69%;
    color: #FFFFFF;
    margin-bottom: 15px;
}

@media screen and (max-width: 395px) {
    .row-item {
        margin-right: 30px;
    }
}

